<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      layout:decorate="~{layout}" lang="en">
<head>
    <title>Manufacturer List</title>
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:fragment="custom-css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<section layout:fragment="content" class="container mt-5">
    <h1 style="text-align: center">Manufacturer List</h1>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Vòng lặp qua danh sách nhà sản xuất -->
        <tr th:each="manufacturer : ${manufacturers}">
            <td th:text="${manufacturer.id}"></td>
            <td th:text="${manufacturer.name}"></td>
            <td th:text="${manufacturer.address}"></td>
            <td th:text="${manufacturer.description}"></td>
            <td>
                <a th:href="@{/admin/manufacturers/edit/{id}(id=${manufacturer.id})}"
                   class="btn btn-success btn-sm d-inline-block">Edit</a>
                <a th:href="@{/admin/manufacturers/delete/{id}(id=${manufacturer.id})}"
                   class="btn btn-danger btn-sm d-inline-block"
                   onclick="return confirm('Are you sure you want to delete this manufacturer?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/admin/manufacturers/add}" class="btn btn-primary" sec:authorize="hasAnyAuthority('ADMIN')">Add New Manufacturer</a>
    <a th:href="@{/}" class="btn btn-link">Back to Home</a>
</section>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.7.0.min.js}"></script>
</body>
</html>
